Compiler_Awesome/src/parser_resources/*
/Compiler_Awesome/nbproject/private/
/Compiler_Awesome/dist/
/Compiler_Awesome/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication5/dist/
